@import "../../app.scss";

.contacts {
    height: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @include mobile {
        flex-direction: column;
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;

        @include mobile {
            top: 3%;
            width: 80%;
            justify-content: center;
        }

        h1 {
            font-size: 70px;
            line-height: 60px;

            @include mobile {
                font-size: 55px;
            }
        }

        .work {
            color: rgb(230, 138, 0);
            ;
        }
    }

    span {
        color: gray;
    }

    .formContainer {
        flex: 1;
        position: relative;

        @include mobile {
            width: 80%;
        }

        .phoneSvg {
            stroke: rgb(230, 138, 0);
            width: 100%;
            height: 100%;
            position: absolute;
            margin: auto;
            z-index: -1;

            svg {
                width: 100%;
                position: relative;
                margin: auto;
            }
        }

        form {
            min-height: 50%;
            display: flex;
            flex-direction: column;
            gap: 15px;

            input,
            textarea {
                padding: 15px;
                background-color: transparent;
                border: 1px solid gray;
                border-radius: 5px;
            }

            input {
                height: 50px;
            }

            textarea {
                resize: none;
            }

            button {
                border: none;
                border-radius: 10px;
                padding: 10px;
                background-color: rgb(230, 138, 0);
                color: black;
                cursor: pointer;
            }
        }
    }
}